main {
  margin-top: 5%;
}

body {
  background-color: #2e2e3a;
  font-family: "Recursive", sans-serif;
  min-height: 100vh;
}

nav a {
  color: white !important;
}
nav a:hover {
  color: #00a7e1 !important;
}
nav .active{
  text-decoration: underline !important;
}

nav img{
  max-width: 70%;
}

nav button {
  color: white !important;
}

.about {
  color: white;
}

.about p {
  margin: 0.2em;
}

.about a {
  color: #00a7e1;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}

.reverse-info{
  margin-top: 6%;
  color: #fff;
}

.reverse-item{
  margin-left: 0.3em;
}

.hidden{
  display: none;
}

.container {
  max-width: 80%;
}

.cf-row {
  color: white;
}

#cf {
  margin-right: 10px;
  font-size: 20px;
}

#copyIcon {
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
}

#copyIcon:hover {
  background-color: grey;
}

footer {
  width: 100%;
  margin-top: 10%;
  height: 60px;
  color: white;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 2%;
  font-size: 50px;
}
